/* mix */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: sans-serif;
}

.container {
  padding: 10px;
  width: 50%;
  margin:auto;
}

li {
  margin:40px 0;
  list-style: none;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #3c4043;
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(0,0,0,0.87);
}

/* header */
.header-top {
display: flex;
height: 50px;
padding: 10px;
margin-bottom: 15px;
}

.header-top img {
  height: 75%;
  width: 4%;
  margin: 10px 10px ;
}
.header-top p {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: #5f6368;
  margin: 10px 10px ;
}

/* MENU NAVIGAZIONE */
.navbar{
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}
.navbar ul {
  margin-bottom: 10px;
}

.navbar li {
  display: inline;
  margin: 20px;
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  color: #5f6368;
  padding-bottom: 10px;
}

.active {
  color: #3367d6 !important;
  border-bottom: 3px solid #3367d6;
}

/* <ul>
  <?php foreach ($faqs as $faq): ?>
  <li>
      <?php foreach ($faq as $key => $value): ?>
         <?php echo $value."<br>"; ?>
      <?php endforeach ?>
      <hr>
  </li>
<?php endforeach ?>
</ul> */
